<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="css/lightbox.css" rel="stylesheet">
    <link rel="icon" href="css/favicon.jpg" type="image/x-icon">
    <title>$title</title>
</head>
<body>

<div style="position: fixed; width: 100%; margin: 0 auto;"><table border="0" cellspacing="0" cellpadding="0" width="900px">
    <tbody>
    <tr>
        <td height="5" class="top_line" colspan="2"></td>
    </tr>
    <tr>
        <td width="27" class="b_menu">&nbsp;</td>
        <td align="left" class="b_menu">


            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td align="center">
                        <a href="http://8marta.com/index.php"><font class="url_go">Главная</font></a>

                    </td>
                    <td align="center">
                        <a href="http://8marta.com/news/">Наши новости</a>

                    </td>
                    <td align="center">
                        <a href="http://8marta.com/choice/">Ваш выбор</a>

                    </td>
                    <td align="center">
                        <a href="http://8marta.com/katalog/">Каталог</a>

                    </td>
                    <td align="center">
                        <a href="http://8marta.com/about/">О нас</a>

                    </td>
                    <td align="center">
                        <a href="http://8marta.com/kontakt/">Контакты</a>

                    </td>
                    <td align="center">
                        <a href="http://8marta.com/forum/">Форум</a>

                    </td>
                    <td align="center">
                        <a href="http://8marta.com/shops/">Где купить?</a>

                    </td>
                    <td align="center">
                        <input type="image" src="css/get_order.png" alt="order" style="width:32px; height:32px;"  onclick="show_order_form(this)">
                    </td>
                    <td>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="top_line" height="5" colspan="2"></td>
    </tr>

    </tbody>
</table></div>>
<table border="0" cellspacing="0" cellpadding="0" width="900px">
    <tbody>
    <tr>
        <td class="b_brend">
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td width="165" align="right"><font class="top_brends">НАШИ БРЕНДЫ:</font></td>
                    <td width="20">&nbsp;</td>
                    <td width="1"><img src="css/brends_line.png"></td>
                    <td align="center" valign="center"><a
                            href="http://8marta.com/ourbrands/index.php?ELEMENT_ID=239"><img
                            src="css/brend-logo-marta.gif" class="img"></a></td>
                    <td width="1"><img src="css/brends_line.png"></td>
                    <td align="center" valign="center"><a
                            href="http://8marta.com/ourbrands/index.php?ELEMENT_ID=238"><img
                            src="css/brend-logo-emiko.gif" class="img"></a></td>
                    <td width="1"><img src="css/brends_line.png"></td>
                    <td align="center" valign="center"><a
                            href="http://8marta.com/ourbrands/index.php?ELEMENT_ID=8545"><img
                            src="css/brend-logo-martinka.gif" class="img"></a></td>
                </tr>
                </tbody>
            </table>

        </td>

    </tr>
    </tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="900px">
    <tbody>
    <tr>
        <td width="9" class="kat_left">&nbsp;</td>
        <td class="kat_center" height="32" align="center">Спецификация документа $docInfo</td>
        <td width="9" class="kat_right">&nbsp;</td>
    </tr>
    </tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="900px">
    <tbody>
    <tr>
        <td width="1" bgcolor="#d8dfe5"></td>
        <td class="b_kategorii">
            <br>
            <br>
        </td>
        <td width="1" bgcolor="#d8dfe5"></td>
    </tr>
    </tbody>
</table>
$general_table
<table class="copy_b" height="88" cellspacing="0" cellpadding="0" width="900px" border="0">
    <tbody>
    <tr>
        <td width="73" rowspan="2"><img height="88" src="css/copy_left.jpg" width="73"></td>
        <td width="520" valign="bottom" align="right" height="67"><font class="copy_adr">ОАО "8 Марта", 246708, г.
            Гомель, Беларусь, ул. Советская 41, E-mail: <a href="mailto:info@8marta.com"><font class="copy_adr">info@8marta.com</font></a></font>
        </td>
        <td rowspan="2">&nbsp;</td>
    </tr>

    <tr>
        <td align="right"><font class="copy_adr">тел. +375 232<font class="copy_phone"> 77 51 55</font>, факс +375 232
            <font class="copy_phone">71 80 30</font></font>
        </td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>

<div id="add_to_order_form" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="close_add_to_order_form">&times;</span>
            <h4 id="modal_header_text">Modal Header</h4>
        </div>
        <div class="modal-body">
            <table>
                <tr>
                    <td>Цвет</td>
                    <td><select id="order_color" style="width: 200px;">
                        <option value="РАЗНОЦВЕТ">РАЗНОЦВЕТ</option>
                        <option value="БЕЛЫЙ">БЕЛЫЙ</option>
                        <option value="РОЗОВЫЙ">РОЗОВЫЙ</option>
                        <option value="ЗЕЛЕНЫЙ">ЗЕЛЕНЫЙ</option>
                        <option value="БЕЖЕВЫЙ">БЕЖЕВЫЙ</option>
                        <option value="ГОЛУБОЙ">ГОЛУБОЙ</option>
                        <option value="ФИОЛЕТОВЫЙ">ФИОЛЕТОВЫЙ</option>
                        <option value="ЧЕРНЫЙ">ЧЕРНЫЙ</option>
                        <option value="СИНИЙ">СИНИЙ</option>
                        <option value="ЖЕЛТЫЙ">ЖЕЛТЫЙ</option>
                        <option value="КОРИЧНЕВЫЙ">КОРИЧНЕВЫЙ</option>
                        <option value="БИРЮЗОВЫЙ">БИРЮЗОВЫЙ</option>
                        <option value="ПЕРСИК">ПЕРСИК</option>
                        <option value="МАЛИНА">МАЛИНА</option>
                        <option value="ОРАНЖЕВЫЙ">ОРАНЖЕВЫЙ</option>
                        <option value="СЕРЫЙ">СЕРЫЙ</option>
                        <option value="ДЖИНС">ДЖИНС</option>
                        <option value="КРАСНЫЙ">КРАСНЫЙ</option>
                        <option value="ВАСИЛЕК">ВАСИЛЕК</option>
                        <option value="САЛАТ">САЛАТ</option>
                        <option value="ОЛИВКОВЫЙ">ОЛИВКОВЫЙ</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Количество</td>
                    <td><input class="ui_amount" id="order_amount" pattern="[0-9]" type="text" size="1" width="4"
                               value="1"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button onclick="add_to_order()">Добавить в заявку</button>
                    </td>
                </tr>

            </table>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div id="order_form" class="modal">
    <div class="modal-content" style="width: 800px">
        <div class="modal-header">
            <span class="close" id="close_order_form">&times;</span>
            <h4 id="modal_header_text_">Заказ продукции</h4>
        </div>
        <div class="modal-body" id="order_form_body">
            <div id="order_table">

            </div>
        </div>
        <div class="modal-footer" align="right">
            <input id="create" type="submit" value="Создать заявку" onclick="saveOrder()">
        </div>
    </div>
</div>

<script src="css/lightbox-plus-jquery.min.js" type="text/javascript"></script>
<script async src="css/test.js" type="text/javascript"></script>
<script type="text/javascript">
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    })
</script>

</body>
</html>