<table class="borderimage" width="900px" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr align="left">
        <td colspan="2" height="10">
            $navigation_path
        </td>
    </tr>
    <tr>
        <td colspan="2" height="10">
            <table border="0" width="900px" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td width="152" height="20" align="center" valign="bottom">
                        <a href="#"
                           title="ОАО 8 марта" class="thickbox"><font class="model_name" id="$item_name_id">$item_name</font></a>
                    </td>
                </tr>

                <tr>
                    <td align="center" valign="top" bgcolor=""><font class="mod_number" id="$item_model_id"><font
                            class="mod_mod">Модель :</font> $model_number </font><font class="mod_number"><font
                            class="mod_mod">ТНВЭД :</font> $tnvd_code</font>&nbsp;&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td align="center" valign="center" width="45%">
            <a href="$image_path" title="ОАО 8 марта" class="thickbox" data-lightbox="image-1">
                <img class="my-image" border="0" src="$image_path" alt="" title="$item_name"></a>
        </td>
        <td valign="top" align="left">
            <table class="specification-table" width="100%">
                <thead>
                <tr>
                    <th align="center">Размер</th>
                    <th>Стоимость</th>
                    <th>+</th>
                    <th></th>
                </tr>
                <thead>
                <tbody>
                $spec_table
                </tbody>
            </table>
        </td>
    </tr>
        $thumb_image
    </tbody>
</table>